@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	/* --theme-color: #3498db; */
	/* --theme-color: #4f47b3; */
	--theme-color: #2aa2a7;
	--theme-background: #dde1e7;
}

body {
	/* background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
	background: linear-gradient(
		to right,
		#eef2f3,
		#8e9eab
	); */
	background: var(--theme-background);
}

.toggle_chords_container {
	width: 90%;
	padding-top: 40px !important;
}

.switch {
	position: relative;
	display: inline-block;
	width: 82px;
	height: 36px;
	border-radius: 34px;
	outline: none;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	outline: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--theme-background);
	box-shadow: -4px -4px 6px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
	/* box-shadow: -6px -6px 18px 0 rgba(255, 255, 255, 0.7), 6px 6px 18px 0 rgba(0, 0, 0, 0.2); */
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 5px;
	bottom: 5px;
	background-color: var(--theme-color);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--theme-color);
	box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

input:focus + .slider {
	outline: none;
	border: none;
}

input:checked + .slider:before {
	-webkit-transform: translateX(45px);
	-ms-transform: translateX(45px);
	transform: translateX(45px);
	background-color: var(--theme-background);
	box-shadow: -4px -4px 8px var(--theme-color), 3px 3px 4px rgba(94, 104, 121, 0.288);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
	box-shadow: -0.5px -0.5px 0.6px var(--theme-color), 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.note {
	color: #2b2b2b;
	font-family: "Lato", sans-serif;
	font-size: 1.4em;
	text-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.text_vertical_center {
	margin-top: 0 auto !important;
	margin-top: 8px !important;
}

.selected_notes_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: left;
	width: 100%;
}

.selected_note {
	color: #3b3b3b;
	font-family: "Lato", sans-serif;
}

.selected_note_box {
	height: 60px;
	width: 60px;
	border-radius: 50px;
	border: none;
	outline: none;
	background-color: var(--theme-background);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/* box-shadow: -4px -4px 6px 0px #fff9, -4px -4px 5px 0px #fff9, 4px 4px 6px 0px #0002, 4px 4px 5px 0px #0001,
		inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
		inset 0px 0px 0px 0px #0001; */
	box-shadow: -3px -3px 7px #ffffff73, 3px 3px 6px rgba(94, 104, 121, 0.288);
	transition: box-shadow 0.6 cubic-bezier(0.79, 0.21, 0.06, 0.81);
	font-size: 19px;
	text-decoration: none;
	margin-right: 30px;
}

.possible_chord_box {
	background-color: var(--theme-color);
}

.possible_chord_box:hover {
	background-color: var(--theme-background);
}

.possible_chord_box:hover > span {
	color: var(--theme-color);
}

.possible_chord {
	color: var(--theme-background);
}

.selected_note_box:hover {
	font-size: 18px;
	box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.5), -2px -2px 4px 0px rgba(116, 125, 136, 0.2),
		inset -2px -2px 4px 0px rgba(255, 255, 255, 0.3), inset 2px 2px 4px 0px rgba(116, 125, 136, 0.3);
}

.selected_note_box:focus {
	border: none;
	outline: none;
	box-shadow: none;
	box-shadow: -4px -4px 6px 0px rgba(116, 125, 136, 0.2), 4px 4px 6px 0px rgba(255, 255, 255, 0.5),
		inset 4px 4px 6px 0px rgba(116, 125, 136, 0.3), inset -4px -4px 6px 0px rgba(255, 255, 255, 0.3);
}

.selected_text {
	/* color: #39454e; */
	color: #3b3b3b;
	margin-left: 50px;
	font-family: "Lato", sans-serif;
	font-size: 28px;
	font-weight: 500;
	text-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.188);
}

/* ================================================================= */
/* ================================================================= */
/*  Keyboard Design */
/* ================================================================= */
/* ================================================================= */

.keyboard_screen {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	flex-direction: column;
	background: var(--theme-background);
}

.container {
	width: 60%;
}

.container .wrapper {
	min-width: 750px;
	max-width: 1100px;
	border-radius: 8px;
	padding: 25px;
	background: var(--theme-background);
	box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.wrapper .keys {
	display: flex;
	justify-content: center;
}

.wrapper .keys input {
	font-family: "Lato", sans-serif;
	height: 50px;
	min-width: 50px;
	padding: 10px;
	outline: none;
	border: none;
	margin: 10px;
	border-radius: 4px;
	font-size: 20px;
	color: grey;
	text-transform: uppercase;
	background: var(--theme-background);
	box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.358);
}

.disabled_key {
	box-shadow: none !important;
	color: rgb(168, 168, 168) !important;
}

.disabled_key:active {
	font-size: 20px !important;
}

.sharp_note_key {
	font-size: 17px !important;
	background: #091921 !important;
	color: rgb(170, 170, 170) !important;
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.6) !important;
}

.sharp_note_key:active {
	font-size: 16px !important;
	color: var(--theme-color) !important;
	box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.05), 2px 2px 10px rgba(0, 0, 0, 0.4) !important;
}

.sharp_note_key_pressed {
	font-size: 16.5px !important;
	color: var(--theme-color) !important;
	box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.05), 2px 2px 10px rgba(0, 0, 0, 0.4) !important;
}

.backspace {
	font-size: 12px !important;
	padding-left: 30px !important;
}

.backspace_pressed {
	color: var(--theme-color) !important;
	box-shadow: inset -3px -3px 7px #ffffff73, inset 2px 2px 5px rgba(94, 104, 121, 0.358) !important;
}

.backspace_arrow_pressed {
	color: var(--theme-color) !important;
}

.left_arrow {
	color: grey;
	position: absolute !important;
	margin-top: 29.2px !important;
	margin-left: 23px;
}

.wrapper .keys input:active {
	color: var(--theme-color);
	font-size: 19px;
	box-shadow: inset -3px -3px 7px #ffffff73, inset 2px 2px 5px rgba(94, 104, 121, 0.358);
}

.keyPressed {
	color: var(--theme-color) !important;
	font-size: 19px !important;
	box-shadow: inset -3px -3px 7px #ffffff73, inset 2px 2px 5px rgba(94, 104, 121, 0.358) !important;
}

.wrapper .keys input[value="space"] {
	width: 60%;
}

.wrapper .display {
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
	user-select: none;
}

.wrapper .display textarea {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	resize: none;
	font-size: 20px;
	font-family: "Lato", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	/* pointer-events: none; */
	padding: 15px 15px;
	border-radius: 6px;
	color: var(--theme-color);
	background: var(--theme-background);
	box-shadow: inset -3px -3px 7px #ffffff73, inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}

/* ================================================================= */
/* ================================================================= */
/*  Navbar Design */
/* ================================================================= */
/* ================================================================= */

.nav_container {
	margin-top: 50px;
	width: 90%;
	color: #3b3b3b;
	padding: 15px;
	padding-left: 30px;
	border-radius: 8px;
	background: var(--theme-background);
	box-shadow: -4px -4px 8px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.navbar-brand {
	font-family: "Lato", sans-serif;
}
