{% extends 'index.html' %} {% load static %} {% block content %} {% comment %}
<div class="row mt-5">
	<div class="offset-1 col-md-10 mt-5">
		<div class="row m-auto mt-5">
			<div class="offset-1 col-md-1 m-auto note" align="center">C</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">C#</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">D</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">D#</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">E</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">F</div>
		</div>

		<div class="row m-auto mt-3">
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="C" type="checkbox" onchange="getSelectedNotes()" checked />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="C#" type="checkbox" onchange="getSelectedNotes()" />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="D" type="checkbox" onchange="getSelectedNotes()" checked />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="D#" type="checkbox" onchange="getSelectedNotes()" checked />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="E" type="checkbox" onchange="getSelectedNotes()" />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="F" type="checkbox" onchange="getSelectedNotes()" checked />
					<span class="slider round"></span>
				</label>
			</div>
		</div>

		<div class="row m-auto mt-5">
			<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">F#</div>
			<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">G</div>
			<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">G#</div>
			<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">A</div>
			<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">A#</div>
			<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">B</div>
		</div>

		<div class="row m-auto mt-3">
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="F#" type="checkbox" onchange="getSelectedNotes()" />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="G" type="checkbox" onchange="getSelectedNotes()" />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="G#" type="checkbox" onchange="getSelectedNotes()" />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="A" type="checkbox" onchange="getSelectedNotes()" checked />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="A#" type="checkbox" onchange="getSelectedNotes()" />
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input id="B" type="checkbox" onchange="getSelectedNotes()" checked />
					<span class="slider round"></span>
				</label>
			</div>
		</div>
	</div>
</div>

<div class="row mt-5">
	<div class="offset-2 col-10 mt-5" align="left">
		<span class="selected_text">Selected notes: </span>
		<span id="selected_notes">
			<span class="selected_note">C</span>
			<span class="selected_note">D</span>
			<span class="selected_note">D#</span>
			<span class="selected_note">F</span>
			<span class="selected_note">A</span>
			<span class="selected_note">B</span>
		</span>
	</div>
	<br />
</div>

<div class="row mt-3">
	<div class="offset-2 col-10 mt-5" align="left">
		<span class="selected_text">Possible Chords are: </span>
		<span id="possible_scales">
			<span class="selected_note">A#</span>
			<span class="selected_note">C</span>
			<span class="selected_note">G</span>
			<span class="selected_note">with 5 notes matching</span>
		</span>
	</div>
	<br />
</div>
{% endcomment %}

<div class="toggle_chords_container mx-auto mt-4">
	<div class="row m-auto mt-5">
		<div class="offset-1 col-md-1 m-auto note" align="center">C</div>
		<div class="offset-1 col-md-1 m-auto note" align="center">C#</div>
		<div class="offset-1 col-md-1 m-auto note" align="center">D</div>
		<div class="offset-1 col-md-1 m-auto note" align="center">D#</div>
		<div class="offset-1 col-md-1 m-auto note" align="center">E</div>
		<div class="offset-1 col-md-1 m-auto note" align="center">F</div>
	</div>

	<div class="row m-auto mt-2">
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="C" type="checkbox" onchange="getSelectedNotes()" checked />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="C#" type="checkbox" onchange="getSelectedNotes()" />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="D" type="checkbox" onchange="getSelectedNotes()" checked />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="D#" type="checkbox" onchange="getSelectedNotes()" />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="E" type="checkbox" onchange="getSelectedNotes()" checked />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="F" type="checkbox" onchange="getSelectedNotes()" checked />
				<span class="slider round"></span>
			</label>
		</div>
	</div>

	<div class="row m-auto mt-5">
		<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">F#</div>
		<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">G</div>
		<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">G#</div>
		<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">A</div>
		<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">A#</div>
		<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">B</div>
	</div>

	<div class="row m-auto mt-2">
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="F#" type="checkbox" onchange="getSelectedNotes()" />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="G" type="checkbox" onchange="getSelectedNotes()" />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="G#" type="checkbox" onchange="getSelectedNotes()" />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="A" type="checkbox" onchange="getSelectedNotes()" checked />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="A#" type="checkbox" onchange="getSelectedNotes()" />
				<span class="slider round"></span>
			</label>
		</div>
		<div class="col-md-1 m-auto">
			<label class="switch">
				<input id="B" type="checkbox" onchange="getSelectedNotes()" checked />
				<span class="slider round"></span>
			</label>
		</div>
	</div>

	<br />
	<br />
	<br />
	<br />

	<div class="row mt-5">
		<div class="col-3 mt-5 text_vertical_center">
			<span class="selected_text">Selected notes: </span>
		</div>
		<div class="col-9">
			<span id="selected_notes" class="selected_notes_wrapper">
				<a href="#" class="selected_note_box">
					<span class="selected_note">C</span>
				</a>
				<a href="#" class="selected_note_box">
					<span class="selected_note">D</span>
				</a>
				<a href="#" class="selected_note_box">
					<span class="selected_note">E</span>
				</a>
				<a href="#" class="selected_note_box">
					<span class="selected_note">F</span>
				</a>
				<a href="#" class="selected_note_box">
					<span class="selected_note">A</span>
				</a>
				<a href="#" class="selected_note_box">
					<span class="selected_note">B</span>
				</a>
			</span>
		</div>
		<br />
	</div>

	<br />
	<br />

	<div class="row mt-3">
		<div class="col-3 mt-5 text_vertical_center">
			<span class="selected_text">Possible Scales: </span>
		</div>
		<div class="col-9">
			<span id="possible_scales" class="selected_notes_wrapper">
				{% comment %}
				<a href="#" class="selected_note_box possible_chord_box">
					<span class="selected_note possible_chord">A#</span>
				</a>
				{% endcomment %}
				<a href="#" class="selected_note_box possible_chord_box">
					<span class="selected_note possible_chord">C</span>
				</a>
				{% comment %} <span class="selected_note">with 5 notes matching</span> {% endcomment %}
			</span>
		</div>
		<br />
	</div>

	<div class="keyboard_screen">
		<div class="container">
			<form class="wrapper" name="form">
				{% csrf_token %}
				<div class="display">
					<textarea
						name="textarea"
						cols="30"
						id="test"
						rows="10"
						spellcheck="false"
						onfocus="this.value = this.value"
					>
C  D  E  F  A  B  </textarea
					>
				</div>

				{% comment %}
				<div class="keys">
					<input type="button" id="1" value="1" name="one" onclick="disp(one.value)" />
					<input type="button" id="2" value="2" name="two" onclick="disp(two.value)" />
					<input type="button" id="3" value="3" name="three" onclick="disp(three.value)" />
					<input type="button" id="4" value="4" name="four" onclick="disp(four.value)" />
					<input type="button" id="5" value="5" name="five" onclick="disp(five.value)" />
					<input type="button" id="6" value="6" name="six" onclick="disp(six.value)" />
					<input type="button" id="7" value="7" name="seven" onclick="disp(seven.value)" />
					<input type="button" id="8" value="8" name="eight" onclick="disp(eight.value)" />
					<input type="button" id="9" value="9" name="nine" onclick="disp(nine.value)" />
					<input type="button" id="0" value="0" name="zero" onclick="disp(zero.value)" />
					<span>
						<i id="back_arrow" class="fas fa-chevron-left fa-xs left_arrow"></i>
						<input
							type="button"
							class="backspace"
							id="Backspace"
							value="Backspace"
							name="Backspace"
							onclick="disp(Backspace.value)"
						/>
					</span>
				</div>
				{% endcomment %}

				<div class="keys">
					<input type="button" id="q" value="q" name="q" class="disabled_key" />
					<input
						type="button"
						id="w"
						data-key="87"
						data-note="C#"
						value="C#"
						name="w"
						onclick="disp(w.value)"
						class="sharp_note_key piano_key black_piano_key"
					/>
					<input
						type="button"
						id="e"
						data-key="69"
						data-note="D#"
						value="D#"
						name="e"
						onclick="disp(e.value)"
						class="sharp_note_key piano_key black_piano_key"
					/>
					<input type="button" id="r" value="r" name="r" class="disabled_key" />
					<input
						type="button"
						id="t"
						data-key="84"
						data-note="F#"
						value="F#"
						name="t"
						onclick="disp(t.value)"
						class="sharp_note_key piano_key black_piano_key"
					/>
					<input
						type="button"
						id="y"
						data-key="89"
						data-note="G#"
						value="G#"
						name="y"
						onclick="disp(y.value)"
						class="sharp_note_key piano_key black_piano_key"
					/>
					<input
						type="button"
						id="u"
						data-key="85"
						data-note="A#"
						value="A#"
						name="u"
						onclick="disp(u.value)"
						class="sharp_note_key piano_key black_piano_key"
					/>
					<input type="button" id="i" value="i" name="i" class="disabled_key" />
					<input type="button" id="o" value="o" name="o" class="disabled_key" />
					<input type="button" id="p" value="p" name="p" class="disabled_key" />
				</div>
				<div class="keys">
					<input
						type="button"
						id="a"
						data-key="65"
						data-note="C"
						value="C"
						name="a"
						onclick="disp(a.value)"
						class="piano_key white_piano_key"
					/>
					<input
						type="button"
						id="s"
						data-key="83"
						data-note="D"
						value="D"
						name="s"
						onclick="disp(s.value)"
						class="piano_key white_piano_key"
					/>
					<input
						type="button"
						id="d"
						data-key="68"
						data-note="E"
						value="E"
						name="d"
						onclick="disp(d.value)"
						class="piano_key white_piano_key"
					/>
					<input
						type="button"
						id="f"
						data-key="70"
						data-note="F"
						value="F"
						name="f"
						onclick="disp(f.value)"
						class="piano_key white_piano_key"
					/>
					<input
						type="button"
						id="g"
						data-key="71"
						data-note="G"
						value="G"
						name="g"
						onclick="disp(g.value)"
						class="piano_key white_piano_key"
					/>
					<input
						type="button"
						id="h"
						data-key="72"
						data-note="A"
						value="A"
						name="h"
						onclick="disp(h.value)"
						class="piano_key white_piano_key"
					/>
					<input
						type="button"
						id="j"
						data-key="74"
						data-note="B"
						value="B"
						name="j"
						onclick="disp(j.value)"
						class="piano_key white_piano_key"
					/>
					<input
						type="button"
						id="k"
						data-key="75"
						data-note="C"
						value="C"
						name="k"
						onclick="disp(k.value)"
						class="piano_key white_piano_key"
					/>
					<input type="button" id="l" value="l" name="l" class="disabled_key" />
				</div>
				<div class="keys">
					<input type="button" id="z" value="z" name="z" class="disabled_key" />
					<input type="button" id="x" value="x" name="x" class="disabled_key" />
					<input type="button" id="c" value="c" name="c" class="disabled_key" />
					<input type="button" id="v" value="v" name="v" class="disabled_key" />
					<input type="button" id="b" value="b" name="b" class="disabled_key" />
					<input type="button" id="n" value="n" name="n" class="disabled_key" />
					<input type="button" id="m" value="m" name="m" class="disabled_key" />
					<span>
						<i id="back_arrow" class="fas fa-chevron-left fa-xs left_arrow"></i>
						<input
							type="button"
							class="backspace"
							id="Backspace"
							value="Backspace"
							name="Backspace"
							onclick="disp('')"
						/>
					</span>
				</div>
				<div class="keys">
					<input type="button" id="space" value="space" />
				</div>

				<audio data-key="65" src="http://carolinegabriel.com/demo/js-keyboard/sounds/040.wav"></audio>
				<audio data-key="87" src="http://carolinegabriel.com/demo/js-keyboard/sounds/041.wav"></audio>
				<audio data-key="83" src="http://carolinegabriel.com/demo/js-keyboard/sounds/042.wav"></audio>
				<audio data-key="69" src="http://carolinegabriel.com/demo/js-keyboard/sounds/043.wav"></audio>
				<audio data-key="68" src="http://carolinegabriel.com/demo/js-keyboard/sounds/044.wav"></audio>
				<audio data-key="70" src="http://carolinegabriel.com/demo/js-keyboard/sounds/045.wav"></audio>
				<audio data-key="84" src="http://carolinegabriel.com/demo/js-keyboard/sounds/046.wav"></audio>
				<audio data-key="71" src="http://carolinegabriel.com/demo/js-keyboard/sounds/047.wav"></audio>
				<audio data-key="89" src="http://carolinegabriel.com/demo/js-keyboard/sounds/048.wav"></audio>
				<audio data-key="72" src="http://carolinegabriel.com/demo/js-keyboard/sounds/049.wav"></audio>
				<audio data-key="85" src="http://carolinegabriel.com/demo/js-keyboard/sounds/050.wav"></audio>
				<audio data-key="74" src="http://carolinegabriel.com/demo/js-keyboard/sounds/051.wav"></audio>
				<audio data-key="75" src="http://carolinegabriel.com/demo/js-keyboard/sounds/052.wav"></audio>
			</form>
		</div>
	</div>

	<div class="possible_chords_container">
		<div id="inputted_notes" class="row mt-3">
			<div class="row result_row">
				<div class="col-1">
					<span class="possible_scale_name"></span>
				</div>
				<div class="col text-center">
					<span class="note mb-2"> C</span>
				</div>
				<div class="col text-center">
					<span class="note mb-2"> D</span>
				</div>
				<div class="col text-center">
					<span class="note mb-2"> E</span>
				</div>
				<div class="col text-center">
					<span class="note mb-2"> F</span>
				</div>
				<div class="col text-center">
					<span class="note mb-2"> A</span>
				</div>
				<div class="col text-center">
					<span class="note mb-2"> B</span>
				</div>
			</div>
		</div>
		<div id="possible_chords" class="row mt-2"></div>

		{% comment %} <span onclick="playNote(130.8, 'sine')">Play C3</span>
		<span onclick="playNote(392.0, 'sine')">Play G4</span> {% endcomment %} {% endblock %}
	</div>
</div>
