{% extends 'index.html' %} {% load static %} {% block content %}

<div class="row mt-5">
	<div class="offset-1 col-md-10 mt-5">
		<div class="row m-auto mt-5">
			<div class="offset-1 col-md-1 m-auto note" align="center">C</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">C#</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">D</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">D#</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">E</div>
			<div class="offset-1 col-md-1 m-auto note" align="center">F</div>
		</div>
		<div class="row m-auto mt-3">
			<div class="offset-1 col-md-1 m-auto">
				<label class="switch shadow">
					<input
						id="check1"
						type="checkbox"
						onchange="doalert(this)"
						checked
					/>
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input
						id="check2"
						type="checkbox"
						onchange="doalert(this)"
					/>
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input
						id="check3"
						type="checkbox"
						onchange="doalert(this)"
						checked
					/>
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input
						id="check4"
						type="checkbox"
						onchange="doalert(this)"
						checked
					/>
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input
						id="check5"
						type="checkbox"
						onchange="doalert(this)"
					/>
					<span class="slider round"></span>
				</label>
			</div>
			<div class="col-md-1 m-auto">
				<label class="switch shadow">
					<input
						id="check6"
						type="checkbox"
						onchange="doalert(this)"
						checked
					/>
					<span class="slider round"></span>
				</label>
			</div>

			<div class="row m-auto mt-5">
				<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">
					F#
				</div>
				<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">
					G
				</div>
				<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">
					G#
				</div>
				<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">
					A
				</div>
				<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">
					A#
				</div>
				<div class="offset-1 col-md-1 m-auto mt-4 note" align="center">
					B
				</div>
			</div>
			<div class="row m-auto mt-3">
				<div class="offset-1 col-md-1 m-auto">
					<label class="switch shadow">
						<input
							id="check7"
							type="checkbox"
							onchange="doalert(this)"
							checked
						/>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="col-md-1 m-auto">
					<label class="switch shadow">
						<input
							id="check8"
							type="checkbox"
							onchange="doalert(this)"
						/>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="col-md-1 m-auto">
					<label class="switch shadow">
						<input
							id="check9"
							type="checkbox"
							onchange="doalert(this)"
							checked
						/>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="col-md-1 m-auto">
					<label class="switch shadow">
						<input
							id="check10"
							type="checkbox"
							onchange="doalert(this)"
							checked
						/>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="col-md-1 m-auto">
					<label class="switch shadow">
						<input
							id="check11"
							type="checkbox"
							onchange="doalert(this)"
						/>
						<span class="slider round"></span>
					</label>
				</div>
				<div class="col-md-1 m-auto">
					<label class="switch shadow">
						<input
							id="check12"
							type="checkbox"
							onchange="doalert(this)"
							checked
						/>
						<span class="slider round"></span>
					</label>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}
</div>
